html {
  font-family: 'Comfortaa';
  color: #616264;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: left;
  position: absolute;
  padding: 1rem 0 0;
  left: 0;
  top: 0;
  right: 0;
}

h2 {
  color: #5C91B0;
  font-size: 1.75rem;
  font-weight: bold;
}

.yellow-dash {
  width: 83px;
  margin: 0 auto;
  background-color: #FBE3BF;
  height: 5px;
  border: 0;
  border-radius: 2px;
}

.section-heading {
  width: 80%;
  text-align: left;
}

.logo {
  height: 20px;
}

.wrapper {
  max-width: 70em;
}

/*BUTTON CODE*/

.btn-green {
  background-color: #71CA91;
  border-radius: 20px;
  font-weight: 300;
  border: 0;
  padding: .5rem 2rem;
}

.btn-green:hover {
  background-color: #87D6A1;
}

/*NAVIGATION CODE */

.nav {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  background-color: rgba(251, 227, 191, 0.92);
}

.nav a {
  display: block;
  margin: .5em;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #71CA91;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -7em;
}

.nav-check:checked ~ .nav {
  display: block;
}


.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 30px;
  position: absolute;
  right: 1.3rem;
  top: 10px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

/*BANNER CODE */

.banner {
  background-image: url('../images/banner-main.jpg');
  min-height: 600px;
  background-size: cover;
  background-position: 25% 0%;
}

.banner-text {
  text-align: right;
  bottom: 30px;
  max-width: 800px;
}

.banner-text p {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #FDE5C0;
}

.purple {
  color: #C9B4FA;
}

/*HOW IT WORKS SECTION*/

.how-desc {
  color: #808183;
  font-weight: 300;
}

/*DESIGNED FOR YOU SECTION*/

.designedyou h2 {
  color: #FDE5C0;
  font-size: 3.6rem;
  line-height: 1.2;
}

.designedyou figcaption {
  top: 50%;
  transform: translateY(-50%);
}

.designedyou img {
  max-height: 658px;
}

.designedyou p {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 300;
}

/*WHAT OTHERS ARE SEEING SECTION*/

.othersseeing {
  background-color: #F8F8F8;
}

.othersseeing h3 {
  color: #FDE5C0;
  font-size: 3.3rem;
  font-weight: 300;
  margin: 0;
}

.othersseeing img {
  filter: brightness(80%);
}

/*STITCHVR IN NUMBERS*/

.innumbers {
  background-color: #F8F8F8;
}

.innumbers-1 {
  font-size: 3.6rem;
  color: #836BE8;
}

.innumbers-2 {
  font-size: 2.75rem;
  color: #C9B4FA;
}

.innumbers-t-1 {
  font-size: 1.65rem;
}

.innumbers-t-2 {
  font-size: 1.3rem;
  max-width: 140px;
  margin: 0 auto;
}

.waitingfor {
  font-size: 1.7rem;
  color: #5C91B0;
}

/*FOOTER*/

footer {
  text-align: center;
}

/*SIGN UP PAGE*/

.banner-signup {
  background-image: url('../images/banner-signup.jpg');
  min-height: 900px;
  background-size: cover;
  background-position: 25% 0%;
}

.nav-dark {
  background-color: rgba(97, 98, 100, 0.53);
}

.signup-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.white {
  color: #fff;
}

.signup-text p {
  max-width: 630px;
  margin: 0 auto;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.signup-input {
  border: none;
  border-bottom: 1px solid #5C91B0;
  background-color: transparent;
  font-size: .75rem;
  color: #ABABAC;
}

.signup-label {
  font-size: 1rem;
  color: #95989A;
}

/*PRICING PAGE*/

.banner-pricing {
  background-image: url('../images/banner-pricing.jpg');
  min-height: 1200px;
  background-size: cover;
  background-position: 0% 0%;
}

.table-heading {
  color: #fff;
}

.pricing-table {
  table-layout: auto;
  max-width: 380px;
  margin: 0 auto 2rem;
}

.purple-bg {
  background-color: #C9B4FA;
  padding: 1rem 0;
}

.green-bg {
  background-color: #71CA91;
  padding: 1rem 0;
}

.checkmark {
  width: 25%;
}

.pricing-table td, .pricing-table th {
  border: none;
}

.pricing-table td {
  background-color: rgba(255, 255, 255, 0.9);
}

.wrapper-pricing {
  max-width: 60em;
}

/*FEATURES PAGE*/

.video {
  width: 100%;
  max-width: 60em;
  height: 56vw;
  max-height: 33.75em;
}

.features-text {
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.feature {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.feature p {
  text-align: left;
}

.feature h3 {
  font-size: 1.2rem;
}

.grey-bg {
  background-color: #F8F8F8;
}

.features-signup {
  background-color: #fff;
}

@media only screen and (min-width: 25em) {

  h1 {
    font-size: 3.5rem;
  }

  .designedyou h2 {
    font-size: 3.8rem;
  }

  .designedyou figcaption {
    max-width: 25rem;
  }

  .banner-signup {
    height: 58vw;
    min-height: 1000px;
    background-position: center center;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    font-size: 3.6rem;
  }

  .banner {
    height: 58vw;
    min-height: 700px;
    background-position: center center;
  }

  .banner-signup {
    height: 58vw;
    min-height: 1000px;
    background-position: center center;
  }

  .banner-text {
    top: 50%;
    transform: translateY(-30%);
    right: 0;
    width: 80%;
  }

  .nav-open, .nav-close {
    display: none;
  }

  .nav {
    display: block;
    position: absolute;
    text-align: right;
    padding: .2rem 1rem 0 0;
    top: 0;
  }

  .nav-signup a {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0.2rem .8rem;
  }

  .nav-signup a:hover {
    border-color: #71CA91;
  }

  .section-heading {
    float: left;
    width: 35%;
  }

  .section-nav {
    float: right;
    width: 65%;
  }

  .nav li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .designedyou h2 {
    font-size: 4rem;
  }

  .othersseeing h3 {
    font-size: 2.5rem;
  }

  .innumbers-1 {
    font-size: 5rem;
  }

  .innumbers-t-2 {
    max-width: 200px;
  }

  footer {
    text-align: left;
  }

  .copyright {
    float: left;
  }

  .socials {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  .section-heading {
    float: left;
    width: 35%;
  }

  .banner-text {
    top: 50%;
    transform: translateY(-25%);
    width: 50%;
    right: 30px;
  }

  .othersseeing h3 {
    font-size: 2rem;
  }

  .designedyou img {
    max-height: none;
    height: 100%;
    width: 100%;
  }

  .designedyou figcaption {
    margin-left: 3rem;
  }

  .innumbers .button {
    text-align: left;
  }

  .signup-text p {
    max-width: 720px;
  }

  .signup-text {
    width: 100%;
    padding-top: 150px;
  }

  .pricing-table {
    max-width: 430px;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    font-size: 4.3rem;
  }

  .banner-text {
    right: 70px;
  }

  .designedyou figcaption {
    margin-left: 4rem;
  }

  .signup-text p {
    max-width: 900px;
  }

  .signup-text {
    padding-top: 170px;
  }

}

@media only screen and (min-width: 118em) {

  h1 {
    font-size: 4.7rem;
  }

  .banner-text {
    right: 150px;
  }

}
