html {
  font-family: 'Comfortaa';
  color: #616264;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: left;
  position: absolute;
  padding: 1rem 0 0;
  left: 0;
  top: 0;
  right: 0;
}

h2 {
  color: #5C91B0;
  font-size: 1.75rem;
  font-weight: normal;
}

.yellow-dash {
  width: 83px;
  margin: 0 auto;
  background-color: #FBE3BF;
  height: 5px;
  border: 0;
  border-radius: 2px;
}

.section-heading {
  width: 80%;
  text-align: left;
}

.logo {
  height: 20px;
}

.wrapper {
  max-width: 70em;
}

/*BUTTON CODE*/

.btn-green {
  background-color: #71CA91;
  border-radius: 20px;
  font-weight: 300;
  border: 0;
  padding: .5rem 2rem;
}

.btn-green:hover {
  background-color: #87D6A1;
}

/*NAVIGATION CODE */

.nav {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  background-color: rgba(251, 227, 191, 0.92);
}

.nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  color: #71CA91;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -7em;
}

.nav-check:checked ~ .nav {
  display: block;
}


.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 30px;
  position: absolute;
  right: 1.3rem;
  bottom: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

/*BANNER CODE */

.banner {
  background-image: url('../images/banner-main.jpg');
  min-height: 600px;
  background-size: cover;
  background-position: 25% 0%;
}

.banner-text {
  text-align: right;
  bottom: 30px;
}

.banner-text p {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #FDE5C0;
}

.purple {
  color: #C9B4FA;
}

/*HOW IT WORKS SECTION*/

.how-desc {
  color: #808183;
  font-weight: 300;
}

/*DESIGNED FOR YOU SECTION*/

.designedyou h2 {
  color: #FDE5C0;
  font-size: 3.6rem;
  line-height: 1.2;
}

.designedyou figcaption {
  top: 50%;
  transform: translateY(-50%);
}

.designedyou img {
  max-height: 600px;
}

.designedyou p {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 300;
}

/*WHAT OTHERS ARE SEEING SECTION*/

.othersseeing {
  background-color: #F8F8F8;
}

.othersseeing h3 {
  color: #FDE5C0;
  font-size: 3.3rem;
  font-weight: 300;
  margin: 0;
}

.othersseeing img {
  filter: brightness(80%);
}

@media only screen and (min-width: 25em) {

  h1 {
    font-size: 3.5rem;
  }

  .designedyou h2 {
    font-size: 3.8rem;
  }

  .designedyou figcaption {
    max-width: 25rem;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    font-size: 3.6rem;
  }

  header {
    overflow: hidden;
  }

  .banner {
    height: 58vw;
    min-height: 700px;
    background-position: center center;
  }

  .banner-text {
    top: 50%;
    transform: translateY(-30%);
    right: 0;
    width: 80%;
  }

  .nav {
    background-color: transparent;
  }

  .nav-open, .nav-close {
    display: none;
  }

  .nav {
    display: inline-block;
    position: static;
    text-align: right;
    padding-right: 0;
  }

  .section-heading {
    float: left;
    width: 35%;
  }

  .section-nav {
    float: right;
    width: 65%;
  }

  .nav li {
    display: inline-block;
  }

  .designedyou h2 {
    font-size: 4rem;
  }

  .othersseeing h3 {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 60em) {

  .section-heading {
    float: left;
    width: 35%;
  }

  .banner-text {
    top: 50%;
    transform: translateY(-25%);
    width: 50%;
    right: 30px;
  }

  .othersseeing h3 {
    font-size: 2rem;
  }

  .designedyou img {
    max-height: none;
    height: 100%;
    width: 100%;
  }

  .designedyou figcaption {
    margin-left: 3rem;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    font-size: 4.3rem;
  }

  .banner-text {
    right: 70px;
  }

  .designedyou figcaption {
    margin-left: 4rem;
  }

}
